.rf-order-search {
	.rf-header-box {
		width: 100%;
		background: $color-white;
		position: fixed;
		z-index: 100;
		left: 0;
		top: 0;
		.rf-header {
			display: flex;
			align-items: flex-start;
			.rf-back {
				margin-left: 8rpx;
				height: 32px !important;
				width: 32px !important;
				display: flex;
				justify-content: center;
				align-items: center;
				.iconzuo {
					font-size: $font-lg + 4upx;
					font-weight: 500;
					color: $font-color-dark;
				}
			}
		}
		.input-box {
			width: 100%;
			font-size: $font-sm;
			box-sizing: border-box;
			color: #999;
			display: flex;
			align-items: center;
			overflow: hidden;
			height: 60upx;
			background-color: $page-color-base;
			border-radius: 30upx;
			position: relative;
			margin: 0 20upx 0 10upx;
			.iconsousuo2 {
				z-index: 100;
				display: flex;
				align-items: center;
				position: absolute;
				top: 0;
				right: 0;
				width: 60upx;
				height: 60upx;
				font-size: $font-lg + 4upx;
				color: $font-color-dark;
			}
			input {
				width: 100%;
				padding-left: 28upx;
				height: 28upx;
				color: $font-color-base;
				font-size: 28upx;
			}
		}
	}
	.list-scroll-content {
		position: relative;
	}
}